<div class="text-center">
  <h1>
    Welcome to FSO listing app!
  </h1>
</div>

<div>
  <form (ngSubmit)="getShowData()">
    <div>
        <label>
          Enter the show name:
        </label>
        <input type="text" name="showName" [(ngModel)]="model.showName" required>
    </div>
    <div>
        <label>
          Enter the season number:
        </label>
        <input type="text" name="season" [(ngModel)]="model.season" required>
    </div>
    <button type="submit">Get video links</button>
  </form>
</div>

<p *ngIf="loading">Loading...</p>
<p *ngIf="errorMsg">Something went wrong... {{ errorMsg }}</p>

<div *ngIf="!loading && !errorMsg && showData">
  <h2>List of links: </h2>
  <ul>
    <li *ngFor="let item of showData">
      <a [href]="item?.videoSrc">{{ item?.title }}</a>
    </li>
  </ul>
</div>
